.container{
  width:100%;
  margin-left: 23px; margin-right: 23px;
  overflow: hidden;
}
header{
  padding-top: 30px;
  min-height: 70px;
}
body{
  background: white;
  margin:0;padding:0;
}
h2{
  margin:auto;padding:5px;
  margin-bottom: 25px;
  text-align: center;
}
li{
  text-decoration: none;
}
li a{
  text-decoration: none;
  color:black;
}
footer{
  clear:both;
  vertical-align: center;
  line-height: normal;
  bottom:0px;
  width:100%;
  background: black;
  color: white;
  text-align: right;
  padding-right: 5px;
}
section{
  margin-top:100px;
}
/*EOF GLOBALS*/

header img{
  padding-left: 50px;
  float:left;
}
/*Links on top of page,
TO DO:
Jump sections to rest of page*/
#quick-link{
  margin-top: 55px;
  margin-right:20px;
  float:right;
}
#quick-link nav{

}
#quick-link ul{
margin:0;  padding:0;
}
#quick-link li{
  padding: 0 10px;
  font-size: 25px;
  float:left;
  display: inline;
}
#quick-link li a{
  color: black;
  text-decoration: none;
}
/*BANNER*/

/* SERVICES */
#boxes{
  float:left;
  width:100%;
  padding:0;
}

.box{
  float:left;
  width: 20%;
  padding:0 5px;
  text-align: center;
}

#boxes a p{
  text-decoration: none;
  color:black;
  font-size:15px;
}
.box img{
  padding: 5px;
}

    /*EXPANDED SERVICES*/
.expand{
  position:relative;
  background: pink;
}

/*PORTFOLIO*/
.rslides-container{
  margin: 0 auto;
  position: relative;
  float: left;
  width: 100%;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.rslides ul{
  margin: 0;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("../img/themes.gif") no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.large-btns_nav:focus {
  outline: none;
  }

.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  }

.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }
/*ABOUT US*/
#about{
  margin:auto;
  width: 60%;
  margin-top: 100px;
}
video .controls{
  object-fit: fill;
}
/*TEAM*/
#team{
  width: 100%;
}

#bio{
  float: left;
  margin:auto;
  width: 100%;
  padding:0;
}

.employee{
  margin: auto;
  float:left;
  width:33.3%;
  padding:5px;
  text-align: center;
}
.employee img{
  position: relative;
  height:100%;
}
.employee.expand p{
  position: absolute;
  top: 10px;
}
/*CONTACT US*/
#contactUs .container{
  padding: 0;
  width:100%;
  background:#cc1075;
}

#contact{
  margin: auto;
  width:30%;
}
#contact , h2 p{
  text-align:center;
  color:white;
}

/*MEDIA QUERIES*/
@media(max-width:768px){
  .container{
    padding:0; margin:0;
  }
  section,
  header img,
  #quick-link,
  #services .box,
  #portfolio,
  #about,
  #team .employee,
  #contactUs #contact
  {
    margin:0;
    padding:0;
    float:none;
    text-align: center;
    width: 100%;
  }
  #quick-link li
  {
    margin-top:5px;
    text-align: center;
    width: 100%;
  }
  #banner img{
    float:none;
    text-align: center;
    width:100%;
    height:200px;
  }

  #about #summary{
    margin: auto;
    width: 100%;
  }
  footer{
    text-align: center;
    font-size: 12px;
  }
}
/*EOF QUERIES*/
